<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Price</th>
    <th>Alcohol Content</th>
    <th>Volume</th>
  </tr>
  <tr *ngFor="let currentKeg of kegs">
    <td>{{currentKeg.name}}</td>
    <td>{{currentKeg.brand}}</td>
    <td>{{currentKeg.price}}</td>
    <td>{{currentKeg.alcContent}}</td>
    <td>{{currentKeg.volume}}</td>
  </tr>

</table>

<form>
    <label for="name">Name of Beer</label>
    <input [(ngModel)] = "name" type="text" name="name">
    <label for="brand">Brand of Beer</label>
    <input [(ngModel)] = "brand" type="text" name="brand">
    <label for="price">Price of Beer</label>
    <input [(ngModel)] = "price" type="number" name="price">
    <label for="alcContent">Alcohol Content</label>
    <input [(ngModel)] = "alcContent" type="number" name="alcContent">
    <button (click)="addKeg(name, brand, price, alcContent)">Add a Keg</button>
</form>
