<!--The content below is only a placeholder and can be replaced.-->
<div class="nav">
  <nav>
    <h1>Welcome to {{title}}</h1>
    <a routerLink="">Home</a>
    <a routerLink="customer">Customer</a>
    <a routerLink="employee">Employee</a>
  </nav>
</div>
<div class="container">

  <router-outlet></router-outlet>

</div>
<div class="container">
  <div class="column">
    <app-add-keg (sendKeg)="addKeg($event)"></app-add-keg>
    <app-edit-keg [childSelectedKeg] = "selectedKeg" (clickedDone)="finishedEditing()"></app-edit-keg>
  </div>
  <app-list-keg [childKegList]="masterKegsList" (clickSender)="editKeg($event)"></app-list-keg>

</div>
