<!-- <div >
  <table>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Alcohol Content</th>
      <th>Volume</th>

    </tr>
    <tr *ngFor="let currentKeg of childKegList">
      <td>{{currentKeg.name}}</td>
      <td>{{currentKeg.brand}}</td>
      <td>${{currentKeg.price}}  </td>
      <td>{{currentKeg.alcContent}}%</td>
      <td>{{currentKeg.alcContent}}%</td>
      <td *ngIf="currentKeg.price < 5">💰</td>
      <td *ngIf="currentKeg.price >=5 && currentKeg.price <=10 ">💰💰</td>
      <td *ngIf="currentKeg.price > 10 ">💰💰💰</td>
      <td *ngIf="currentKeg.alcContent < 3">🍺</td>
      <td *ngIf="currentKeg.alcContent >=3 && currentKeg.alcContent <=6 ">🍺🍺</td>
      <td *ngIf="currentKeg.alcContent > 6 && currentKeg.alcContent <=10">🍺🍺🍺</td>
      <td *ngIf="currentKeg.alcContent > 10">🍺🍺🍺🍺</td>
      <button (click)="editButtonClicked(currentKeg)">Edit!!</button>
      <button (click)="decreaseVolume(currentKeg)">Serve A Pint</button>
      <button (click)="decreaseVolumeBy2(currentKeg)">Serve A Growler</button>
    </tr>
  </table>
</div> -->
<p>Fiter By Price:</p>
<select (change)="onChange($event.target.value)">
  <option value="allkegs">All Kegs</option>
  <option value="less than 7">less than $7</option>
  <option value="greater than 7" selected="selected">greater than $7</option>
</select>
<p>Fiter By Volume:</p>
<select (change)="onVolume($event.target.value)">
  <option value="allkegs">All Kegs</option>
  <option value="less than 10">less than 10</option>
</select>

  <div class="row">
    <div *ngFor="let currentKeg of childKegList | price:filterByPrice | volume:filterByVolume" class="column">
      <div class="card">
        <h3>{{currentKeg.name}}</h3>
        <h5>{{currentKeg.brand}}</h5>
        <p>${{currentKeg.price}}</p>
        <p>{{currentKeg.alcContent}}%</p>
        <p>{{currentKeg.volume}}</p>
        <button (click)="editButtonClicked(currentKeg)">Edit!!</button>
        <button (click)="decreaseVolume(currentKeg)">Serve A Pint</button>
        <button (click)="decreaseVolumeBy2(currentKeg)">Serve A Growler</button>
      </div>
    </div>
  </div>
